# basic package
numpy
pandas
pandas_ta
pandas_datareader
python-dotenv>=1.0.0
ipykernel   # jupyter notebook
poetry

# ml lib
mlxtend
scikit-learn

# visualization
ipywidgets
matplotlib
mplfinance
plotly

# data
yfinance
git+https://github.com/rongardF/tvdatafeed.git

# format
autoflake>=2.1.1,<2.2
isort>=5.12.0,<5.13
black>=23.3.0,<23.4

# # external requirements
# click
# Sphinx
# coverage
# awscli
flake8
isort
# python-dotenv>=0.5.1
pre-commit
Pycaret
tvdatafeed